1. dont give me missions. do it yourself.
2. if your commands hangs, shift
3. prefer native solution
4. prefer to use common packages than writing yourself.
5. make sure you dont leave old unused code.